<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ChatRoom</title>
    <script src ="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
    <h1>ChatRoom</h1>

    <input type="text" class ="message">
    <button onclick="sendMessage()">Send Message</button>
    <div class ="messageContainer">
        
    </div>
    <script>
        const socket = io('http://localhost:3000')
        socket.on("message", (data) => {
            appendMessage(data);
        });

        const sendMessage = () => {
            const userInput = document.querySelector('.message').value;
            socket.emit("message", userInput);
            appendMessage(userInput);
        }

        const appendMessage = (message) => {
            const messageElement = document.createElement('h1');
            messageElement.textContent = message;
            document.querySelector('.messageContainer').appendChild(messageElement);
        }
    </script>


</body>
</html>
