
<link rel="stylesheet" href="styles.css">

<div class = header>
    <button id = login>login</button>
    <script>
        document.getElementById('login').addEventListener("click", function(){
            window.location.href = "/login"
        });
    </script>
    <button class = register>register</button>
    <h1 class = title> ChatRoom</h1>
</div>
<h1>Register</h1>

<label id = "username">Username</label>
<input type="text" id = "username" placeholder="Enter Username">
<label id = "email">email</label>
<input type="text" id = "email" placeholder="Enter email">
<label id = "password">password</label>
<input type="password" id = "password" placeholder="Enter Password">
<button id = "login">register</button>
